Source: python-{{MODULENAME}}
Section: python
Priority: optional
Maintainer: {{ MAINTAINER }}
Build-Depends:
 debhelper (>= 10~),
 dh-python,
 python-all,
 python-setuptools,
 python3-all,
 python3-setuptools,
Build-Depends-Indep:
 {{ ADD BUILD DEPENDS }}
Standards-Version: 4.1.3
Homepage: {{ HOMEPAGE }}
Vcs-Browser: https://git.launchpad.net/~ubuntu-server-dev/ubuntu/+source/python-{{MODULENAME}}
Vcs-Git: git://git.launchpad.net/~ubuntu-server-dev/ubuntu/+source/python-{{MODULENAME}}

Package: python-{{MODULENAME}}
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
Description: Python library for {{ SHORT DESCRIPTION }}
 {{ LONG DESCRIPTION }}
 .
 This package contains the Python 2 module.

Package: python3-{{MODULENAME}}
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: Python library for {{ SHORT DESCRIPTION }}
 {{ LONG DESCRIPTION }}
 .
 This package contains the Python 3 module.
