Source: {{ cookiecutter.repo_name }}
Section: python
Priority: optional
Maintainer: {{ cookiecutter.maintainer }}
Build-Depends:
 debhelper (>= 11~),
 dh-python,
 python-all,
 python-setuptools,
 python3-all,
 python3-setuptools,
Build-Depends-Indep:
 python-mock,
 python3-mock,
Standards-Version: 4.2.1
Homepage: {{ cookiecutter.homepage }}
Vcs-Browser: https://git.launchpad.net/~ubuntu-server-dev/ubuntu/+source/{{ cookiecutter.repo_name }}
Vcs-Git: https://git.launchpad.net/~ubuntu-server-dev/ubuntu/+source/{{ cookiecutter.repo_name }}

Package: python-{{ cookiecutter.modulename }}
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
Description: {{ cookiecutter.project_short_description }}
 {{ cookiecutter.project_long_description }}
 .
 This package contains the Python 2 module.

Package: python3-{{ cookiecutter.modulename }}
Architecture: all
Depends:
 ${misc:Depends},
 ${python3:Depends},
Description: {{ cookiecutter.project_short_description }}
 {{ cookiecutter.project_long_description }}
 .
 This package contains the Python 3 module.
